name: Crear EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Instalar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' 

    - name: Instalar Dependencias
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller Pillow

    - name: Crear EXE
      run: |
        # Si subiste un icono, descomenta la linea de abajo quitando el #
        # pyinstaller --noconsole --onefile --icon=icon.ico ip_finder.pyw
        
        # Si NO subiste icono, usa esta linea:
        pyinstaller --noconsole --onefile ip_finder.pyw

    - name: Subir el resultado
      uses: actions/upload-artifact@v3
      with:
        name: IP-Finder-App
        path: dist/ip_finder.exe
